@font-face {
  font-family: 'SpaceMono';
  src: url('fonts/SpaceMono-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#login.row {
  max-width: 800px;
  margin: auto;
}

.column {
  padding-top: 20px;
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hoverExpose {
  opacity: 50%;
}

.hoverExpose:hover {
  opacity: 100%;
}

body .mono {
  font-family: 'SpaceMono', Courier, Roboto;
}

.med-text {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  /* line-height: 1.6; */
  letter-spacing: 0.0075em;
}

.h6 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: clamp(.5rem, 3vh, 2rem);
  font-weight: 500;
  /* line-height: 1.6; */
  letter-spacing: 0.0075em;
}

.roboto {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
